@charset "utf-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
textarea {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

button,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

object {
  max-width: 100%;
}

html {
  background-color: #fff;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

footer,
header,
section {
  display: block;
}

body,
button,
select,
textarea {
  font-family: Arimo,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

a:hover {
  color: #363636;
}

small {
  font-size: .875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.has-text-left {
  text-align: left;
}

.has-text-white {
  color: #fff;
}

a.has-text-white:focus,
a.has-text-white:hover {
  color: #e6e6e6;
}

.has-text-info {
  color: #3273dc;
}

a.has-text-info:focus,
a.has-text-info:hover {
  color: #205bbc;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
  display: block;
  padding: 1.25rem;
}

.box:not(:last-child) {
  margin-bottom: 1.5rem;
}

a.box:focus,
a.box:hover {
  -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px #00d1b2;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px #00d1b2;
}

a.box:active {
  -webkit-box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2), 0 0 0 1px #00d1b2;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2), 0 0 0 1px #00d1b2;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  text-align: center;
  white-space: nowrap;
}

.button.is-active,
.button:active,
.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
}

.button .icon,
.button .icon.is-small {
  height: 1.5em;
  width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-.375em - 1px);
  margin-right: .1875em;
}

.button .icon:last-child:not(:first-child) {
  margin-left: .1875em;
  margin-right: calc(-.375em - 1px);
}

.button .icon:first-child:last-child {
  margin-left: calc(-.375em - 1px);
  margin-right: calc(-.375em - 1px);
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #00d1b2;
  -webkit-box-shadow: 0 0 .5em rgba(0, 209, 178, .25);
  box-shadow: 0 0 .5em rgba(0, 209, 178, .25);
  color: #363636;
}

.button.is-active,
.button:active {
  border-color: #4a4a4a;
  -webkit-box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  color: #363636;
}

.button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
}

.button.is-link.is-active,
.button.is-link:active,
.button.is-link:focus,
.button.is-link:hover {
  background-color: #f5f5f5;
  color: #363636;
}

.button.is-link[disabled] {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:hover {
  background-color: #f9f9f9;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 100%, .25);
  box-shadow: 0 0 .5em hsla(0, 0%, 100%, .25);
  color: #0a0a0a;
}

.button.is-white.is-active,
.button.is-white:active {
  background-color: #f2f2f2;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  color: #0a0a0a;
}

.button.is-white[disabled] {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-white.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0a0a0a;
}

.button.is-white.is-outlined[disabled] {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.button.is-info {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
  box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
  color: #fff;
}

.button.is-info.is-active,
.button.is-info:active {
  background-color: #2366d1;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .2);
  color: #fff;
}

.button.is-info[disabled] {
  background-color: #3273dc;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}

.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
  background-color: #3273dc;
  border-color: #3273dc;
  color: #fff;
}

.button.is-info.is-outlined[disabled] {
  background-color: transparent;
  border-color: #3273dc;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3273dc;
}

.button.is-small {
  border-radius: 2px;
  font-size: .75rem;
}

.button[disabled] {
  background-color: #fff;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .5;
}

button.button {
  line-height: 1;
  padding-bottom: .4em;
  padding-top: .35em;
}

.content {
  color: #4a4a4a;
}

.content:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content p:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 400;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: .5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: .6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: .8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: .8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content.is-small {
  font-size: .75rem;
}

.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
  box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
  width: 100%;
}

.textarea.is-active,
.textarea:active,
.textarea:focus {
  outline: none;
}

.textarea[disabled] {
  cursor: not-allowed;
}

.textarea:hover {
  border-color: #b5b5b5;
}

.textarea.is-active,
.textarea:active,
.textarea:focus {
  border-color: #00d1b2;
}

.textarea[disabled] {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}

.textarea[disabled]::-moz-placeholder {
  color: rgba(54, 54, 54, .3);
}

.textarea[disabled]::-webkit-input-placeholder {
  color: rgba(54, 54, 54, .3);
}

.textarea[disabled]:-moz-placeholder {
  color: rgba(54, 54, 54, .3);
}

.textarea[disabled]:-ms-input-placeholder {
  color: rgba(54, 54, 54, .3);
}

.textarea[type=search] {
  border-radius: 290486px;
}

.textarea.is-white {
  border-color: #fff;
}

.textarea.is-info {
  border-color: #3273dc;
}

.textarea.is-small {
  border-radius: 2px;
  font-size: .75rem;
}

.textarea {
  display: block;
  max-height: 600px;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: .625em;
  resize: vertical;
}

.select {
  display: inline-block;
  height: 2.25em;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:after {
  border: 1px solid #00d1b2;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: .5em;
  margin-top: -.375em;
  right: 1.125em;
  top: 50%;
  z-index: 1;
}

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.375em - 1px) 2.5em calc(.375em - 1px) calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select.is-active,
.select select:active,
.select select:focus {
  outline: none;
}

.select select[disabled] {
  cursor: not-allowed;
}

.select select.is-active,
.select select:active,
.select select:focus {
  border-color: #00d1b2;
}

.select select[disabled] {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}

.select select[disabled]::-moz-placeholder {
  color: rgba(54, 54, 54, .3);
}

.select select[disabled]::-webkit-input-placeholder {
  color: rgba(54, 54, 54, .3);
}

.select select[disabled]:-moz-placeholder {
  color: rgba(54, 54, 54, .3);
}

.select select[disabled]:-ms-input-placeholder {
  color: rgba(54, 54, 54, .3);
}

.select select:hover {
  border-color: #b5b5b5;
}

.select select::-ms-expand {
  display: none;
}

.select select[disabled]:hover {
  border-color: #f5f5f5;
}

.select:hover:after {
  border-color: #363636;
}

.select.is-white select {
  border-color: #fff;
}

.select.is-info select {
  border-color: #3273dc;
}

.select.is-small {
  border-radius: 2px;
  font-size: .75rem;
}

.field:not(:last-child) {
  margin-bottom: .75rem;
}

@media print, screen and (min-width: 769px) {
  .field-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
  }

  .field-body,
  .field-body .field {
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .field-body .field:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem;
  }
}

.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon .fa {
  font-size: 21px;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.icon.is-small .fa {
  font-size: 14px;
}

.image {
  display: block;
  position: relative;
}

.image.is-16x16 {
  height: 16px;
  width: 16px;
}

.image.is-24x24 {
  height: 24px;
  width: 24px;
}

.image.is-32x32 {
  height: 32px;
  width: 32px;
}

.image.is-48x48 {
  height: 48px;
  width: 48px;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.image.is-96x96 {
  height: 96px;
  width: 96px;
}

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

.subtitle,
.title {
  word-break: break-word;
}

.subtitle:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.subtitle em,
.subtitle span,
.title,
.title em,
.title span {
  font-weight: 300;
}

.title {
  color: #363636;
  font-size: 2rem;
  line-height: 1.125;
}

.title.is-1 {
  font-size: 3rem;
}

.title.is-2 {
  font-size: 2.5rem;
}

.title.is-3 {
  font-size: 2rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.title.is-5 {
  font-size: 1.25rem;
}

.title.is-6 {
  font-size: 1rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
}

.subtitle.is-1 {
  font-size: 3rem;
}

.subtitle.is-2 {
  font-size: 2.5rem;
}

.subtitle.is-3 {
  font-size: 2rem;
}

.subtitle.is-4 {
  font-size: 1.5rem;
}

.subtitle.is-5 {
  font-size: 1.25rem;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top;
}

.card-header {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-shadow: 0 1px 2px hsla(0, 0%, 4%, .1);
  box-shadow: 0 1px 2px hsla(0, 0%, 4%, .1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-header-title {
  color: #363636;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
}

.card-header-icon,
.card-header-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem;
}

.card-header-icon {
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  padding: 1.5rem;
}

.card-footer {
  border-top: 1px solid #dbdbdb;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsla(0, 0%, 4%, .86);
}

.modal-card,
.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media print, screen and (min-width: 769px) {
  .modal-card,
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.modal-card,
.modal-card-foot,
.modal-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-card-foot,
.modal-card-head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-card-title {
  color: #363636;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.modal-card-foot {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #dbdbdb;
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 10px;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
}

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}

.modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  background-color: #fff;
  padding: 3rem 1.5rem;
}

.footer {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem 6rem;
}

.modal-card {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  -webkit-transition: height 1s cubic-bezier(.46, .03, .52, .96);
  transition: height 1s cubic-bezier(.46, .03, .52, .96);
}

body {
  background-color: hsla(0, 0%, 4%, .86);
  height: 100vh;
}

.modal-background {
  opacity: .8;
  background: -webkit-gradient(linear, left top, left bottom, from(#00d1b2), to(#fff));
  background: linear-gradient(#00d1b2, #fff);
  -webkit-transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
  transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
}

.modal-card-foot {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-card-foot .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.modal-card-foot .field .button {
  margin-right: 2px;
}

#quote {
  text-align: center;
}

#author,
#quote,
#quoteTheme {
  opacity: 0;
  -webkit-transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
  transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
}

#quote .icon .fa {
  font-size: 1rem;
}

.modal a.button:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: all .15s;
  transition: all .15s;
}

#quote-button:focus {
  -webkit-box-shadow: 0 0 .5em rgba(50, 115, 220, .8);
  box-shadow: 0 0 .5em rgba(50, 115, 220, .8);
}

.modal-card-body {
  position: relative;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: border .1s ease-out;
  transition: border .1s ease-out;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.modal-card-body::-webkit-scrollbar {
  display: none;
}

.focus {
  border: 1px solid #ff3860 !important;
}

#copy {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
  border: solid #f5f5f5;
  border-width: 0 0 1px 1px;
  color: #dbdbdb;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  height: 15px;
  -webkit-transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
  transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
}

#copy:focus {
  border-color: #b5b5b5;
  -webkit-box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
  box-shadow: 0 0 .5em rgba(50, 115, 220, .25);
}

#copy:hover {
  border-color: #ff3860;
  color: #ff3860;
}

#author {
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
  transition: opacity .6s cubic-bezier(.46, .03, .52, .96);
}

#author:before {
  content: "- ";
}

.show {
  opacity: 1 !important;
}

@media screen and (min-width: 412px) {
  .modal-card-foot .field .button {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  #quote {
    text-align: justify;
  }

  #author {
    text-align: start;
  }

  #author:before {
    content: "– ";
  }
}

@media screen and (min-width: 500px) {
  .button.is-info {
    border-radius: 3px;
    font-size: 1rem;
  }
}